<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashen.csmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.SelectedFuelStations"
            android:label="@string/title_activity_selected_fuel_stations"
            android:theme="@style/AppTheme.Dark1" />
        <activity
            android:name=".Activities.AllFuelStations"
            android:theme="@style/AppTheme.Dark1" />
        <activity
            android:name=".Activities.Login"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.Signup"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MyProfile"
            android:theme="@style/AppTheme.Dark1" />
        <activity
            android:name=".Activities.Vehicles"
            android:label="@string/title_activity_vehicles"
            android:theme="@style/AppTheme.Dark1" />
        <activity
            android:name=".Activities.Transactions"
            android:label="@string/title_activity_transactions"
            android:theme="@style/AppTheme.Dark1" />
        <activity
            android:name=".Activities.AddNewVehicle"
            android:theme="@style/AppTheme.Dark1" />
        <activity
            android:name=".Activities.AddTransaction"
            android:theme="@style/AppTheme.Dark1" />
        <activity
            android:name=".Activities.VehicleDetails"
            android:label="@string/title_activity_vehicle_details"
            android:theme="@style/AppTheme.Dark2" />
        <activity
            android:name=".Activities.FuelStationDetails"
            android:label="@string/title_activity_fuel_station_details"
            android:theme="@style/AppTheme.Dark2" />
        <activity
            android:name=".Activities.FuelStationDetailsActivity"
            android:theme="@style/AppTheme.Dark1" />
        <activity
            android:name=".Activities.EditUserDetailsActivity"
            android:theme="@style/AppTheme.Dark1" />
        <activity
            android:name=".Activities.ChangePaswordActivity"
            android:theme="@style/AppTheme.Dark1"/>
    </application>

</manifest>